@import "variables";
@import "mixins";
@import "bootstrap_overwrite_classes";


//*******************************************************


body{
	font-family: $family-normal;
	font-size: 1.2rem;
	font-weight: 300;
}

.bg-img{
	position: absolute;
	background-image: url(../img/bg-code_clean_darker.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.bg-black-rgba{
	background-color: rgba(0,0,0,0.9);
}

#bg-code-with-lines{
	background-image: url(../img/bg-code_with_lines.png);
	background-position: left;
}

.lighting-letters{
	font-family: $family-header;
	font-weight: 100;
	letter-spacing: -1px;
	font-size: 4rem;
	display: none;
	color: white;
	margin-left: auto;
	// text-shadow: -1px 1px 1px #000, 1px -1px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
	width: min-content;
	margin-right: 5rem;

	// @include media-max-lg {
	// 	width: min-content;
	// }
	@include media-max-sm {
		font-size: 3rem;
		margin-right: 3rem;
	}
	@include media-max-xs {
		font-size: 2.5rem;
		font-weight: 200;
    	// text-shadow: -2px 2px 0px #000;
		margin-right: 2rem;
	}
}

.lighting-letter{
	transition: all 0.1s linear;
	opacity: 0;
}

.l-show{
	opacity: 1 !important;
}

.my-navbar{
	position: fixed;
	top: 0;
	background-color: $secondary;
	width: 100%;
	height: $navbar-height;
	z-index: 2;
}

.my-left-navbar{
	position: fixed;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	font-size: 30px;
	z-index: 1;

	.cv-font{
		font-size: 22px;
		font-weight: 400;
		font-family: $family-header;
	}

	@include media-max-sm{
		font-size: 20px;

		.cv-font{
			font-size: 14px;
		}
	}

	#cv-toggle{
		position: absolute;
		top: 0;
		left: 100%;
		height: 100%;
		transform: scaleX(0);
		transform-origin: left;
		transition: all 0.25s ease;
		
		.cv-font{
			font-size: 14px;

			@include media-max-sm{
				font-size: 12px;
			}
		}
	}

	.cv-full-width{
		transform: scaleX(1) !important;
	}
}

.section{

	padding: 3rem 0;

	&:nth-of-type(2n+1) {
		background-color: $color5;
						color: #fff; // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	}

	&:nth-of-type(2n) {
		background-color: $color2;
		color: #fff;

		h1{
			order: 2;
		}
	}

	h1{
		font-weight: 200;
		font-family: $family-header;
	}

	h1, article{
		padding: 2rem 4rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	article{
		max-width: 700px;
		@include media-max-md {
			padding-left: 2rem;
			padding-right: 2rem;
		}
		@include media-max-sm {
			font-size: 1.1rem;
			order: 12;
		}
	}

	.section-bg{
		background-image: url(../img/lines_bg.png);
		background-size: cover;
		background-position: center;
	}
}

.vh-minus-nav{
	position: relative;
	// height: 100vh;
	height: calc(100vh - #{$navbar-height});
	margin-top: $navbar-height;
}


//*******************************************************


.nav-item{

	@include media-max-sm {
		padding: 1rem 0;
	}
}

.nav-link{
	color: rgba(255,255,255,.8) !important;

	&:hover{
		color: rgba(255,255,255,1) !important;
	}

	@include media-max-sm{
		padding: .5rem 0.7rem;
	}
}