a:hover {
  text-decoration: none; }

button.disabled, button:disabled {
  pointer-events: none; }

button, .btn {
  box-shadow: none !important;
  outline: none !important; }

.invalid-feedback {
  font-weight: bold; }

.page-link:focus {
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.1); }

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  font-weight: bold; }

.navbar-toggler {
  border: none !important; }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  font-weight: 500; }

.absolute {
  position: absolute !important; }

.break-word {
  word-break: break-word; }

.wrap-word {
  word-wrap: break-word; }

.dont-break-word {
  word-wrap: normal;
  word-break: normal; }

.bt-none {
  border-top: none !important; }

.br-none {
  border-right: none !important; }

.bb-none {
  border-bottom: none !important; }

.bl-none {
  border-left: none !important; }

.c-pointer {
  cursor: pointer; }

.container-max-width {
  max-width: 1140px; }

.dropdown-menu-scrollable {
  max-height: 200px;
  overflow-y: auto;
  width: 100%; }

.font-light {
  font-weight: 300; }

.hamburger-bar {
  display: block;
  pointer-events: none;
  width: 22px;
  height: 0;
  border: 1px solid white;
  border-radius: 1px;
  margin: 4px 0;
  transition: all 350ms ease; }

.hamburger:not(.collapsed) .hamburger-bar:first-of-type {
  transform: rotate(-135deg) translate(-4.24px, -4.24px); }
.hamburger:not(.collapsed) .hamburger-bar:nth-of-type(2) {
  transform: scale(0); }
.hamburger:not(.collapsed) .hamburger-bar:last-of-type {
  transform: rotate(135deg) translate(-4.24px, 4.24px); }

.img-cover {
  height: 100%;
  object-fit: cover;
  width: 100%; }

.input-dropdown {
  background-color: #fff !important;
  cursor: pointer; }

.input-dropdown-menu {
  cursor: pointer; }

.letter-sp {
  letter-spacing: 0.5px; }

.letter-sp-lg {
  letter-spacing: 1px; }

.opacity-1 {
  opacity: 1 !important; }

.overflow-hidden {
  overflow: hidden; }

.relative {
  position: relative !important; }

.shadow-dark {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.8); }

.shadow-dark-hover:hover {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.8); }

.shadow-dark-sm {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); }

.shadow-dark-sm-hover:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }

.text-shadow {
  text-shadow: 2px 1px 2px #000; }

.text-shadow-sm {
  text-shadow: 1px 0px 1px #000; }

.text-shadow-lg {
  text-shadow: 3px 1px 5px #000; }

.text-wrap {
  white-space: normal !important; }

.thumbnail {
  padding: 0.25rem;
  background-color: #f5f8fa;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  width: fit-content;
  height: auto; }

.us-none {
  user-select: none; }

.zi-1 {
  z-index: 1 !important; }

.zi-10 {
  z-index: 10 !important; }

.zi-100 {
  z-index: 100 !important; }

.zi-1000 {
  z-index: 1000 !important; }

.zi-10000 {
  z-index: 10000 !important; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 300; }

.bg-img {
  position: absolute;
  background-image: url(../img/bg-code_clean_darker.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1; }

.bg-black-rgba {
  background-color: rgba(0, 0, 0, 0.8); }

#bg-code {
  background-image: url(../img/bg-code_clean.png);
  background-position: center; }

#bg-lines {
  background-image: url(../img/lines.png);
  background-position: left; }

#bg-code-with-lines {
  background-image: url(../img/bg-code_with_lines.png);
  background-position: left; }

.lighting-letters {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  letter-spacing: -1px;
  font-size: 4rem;
  display: none;
  color: white;
  margin-left: auto;
  width: min-content;
  margin-right: 5rem; }
  @media screen and (max-width: 767px) {
    .lighting-letters {
      font-size: 3rem;
      margin-right: 3rem; } }
  @media screen and (max-width: 575px) {
    .lighting-letters {
      font-size: 2.5rem;
      font-weight: 200;
      margin-right: 2rem; } }

.lighting-letter {
  transition: all 0.1s linear;
  opacity: 0; }

.l-show {
  opacity: 1 !important; }

.my-navbar {
  position: fixed;
  top: 0;
  background-color: #0f0f0f;
  width: 100%;
  z-index: 1; }

.my-left-navbar {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px; }
  .my-left-navbar .cv-font {
    font-size: 22px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif; }
  .my-left-navbar #cv-toggle {
    position: absolute;
    top: 100%;
    width: 100%; }
    .my-left-navbar #cv-toggle .cv-font {
      font-size: 14px; }
    .my-left-navbar #cv-toggle .cv-link {
      padding: 0 10px 0 0;
      text-align: right; }

.section {
  padding: 3rem 0; }
  .section:nth-of-type(2n+1) {
    background-color: #F0F2F2; }
  .section:nth-of-type(2n) {
    background-color: #38444B;
    color: #fff; }
    .section:nth-of-type(2n) h1 {
      order: 2; }
  .section h1 {
    font-weight: 200;
    font-family: "Montserrat", sans-serif; }
  .section h1, .section article {
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  @media screen and (max-width: 991px) {
    .section article {
      padding-left: 2rem;
      padding-right: 2rem; } }

.vh-minus-nav {
  position: relative;
  height: calc(100vh - 56px);
  margin-top: 56px; }

@media screen and (max-width: 767px) {
  .nav-item {
    padding: 1rem 0; } }

.nav-link {
  color: rgba(255, 255, 255, 0.8) !important; }
  .nav-link:hover {
    color: white !important; }

/*# sourceMappingURL=main.css.map */
