$standard-transition-speed-and-timing: 350ms ease;
$standard-transition: all 0.25s ease;

// fonts:
$family-header: 'Montserrat', sans-serif;
$family-normal: 'Roboto', sans-serif;

// colors:
$color1: #0f0f0f;
// $color2: #38444B;
$color2: #0f0f0f;
$color3: #526266;
$color4: #728B96;
// $color5: #F0F2F2;
$color5: #38444B;

//other:
$navbar-height: 60px;
