$standard-transition-speed-and-timing: 350ms ease;
$secondary: #0f0f0f;

// fonts:
$family-header: 'Montserrat', sans-serif;
$family-normal: 'Roboto', sans-serif;

// colors:
$color1: #0f0f0f;
$color2: #38444B;
$color3: #526266;
$color4: #728B96;
$color5: #F0F2F2;
